@charset "utf-8";
/* 52framework General StyleSheet - contains styles for all the HTML elements this framework supports */
/* modificado por Dai Barra*/

body {
	color: #333;
	font-size:52%/1.52em;
}

/* ** ** Common Addative Classes ** ** */
.alignleft, .left  { float:left}
.alignright, .right { float:right}
.clear { clear:both; display:block; overflow:hidden; visibility:hidden; width:0px; height:0px;}
.hide  { display:none}

.align_right    { text-align:right;}
.align_left     { text-align:left;}
.align_center   { text-align:center;}
.align_justify  { text-align:justify;}

p img{
	padding: 5px 10px;}

a {	color:#666;	}
a:hover, a:focus { text-decoration:underline;}
a:active, a:visited { }

blockquote {
	font-family: Georgia,"Times New Roman", Times, serif; 
	margin:5px; 
	padding:10px;
	font-size:1.52em; 
	color:#999; 
	font-style:italic; 
	line-height:1.3em; 
	width:100%; 
	quotes:none;
}
	blockquote.left {border-right:1px dashed #ccc; width:35%;}
	blockquote.right {border-left:1px dashed #ccc; width:35%;}

/* ** ** Header Styles ** ** */
h1, h2, h3, h4, h5 {margin:0 0 0.5em; line-height:1.1em;}
h1 {	font-size:2.52em;} 
h2 {	font-size:1.952em;} 
h3 {	font-size:1.652em;} 
h4 {	font-size:1.452em;} 
h5 {	font-size:1.252em;} 
h6 {	font-size:1.52em;}

/* ** ** ul li's ** ** */
ul {list-style: none;}

/* ** ** custom select color ** ** */
::selection {
	background: #666; /* Safari */
	}
::-moz-selection {
	background: #666; /* Firefox */
	color:#fff;
}
/* ** ** paragraph styling ** ** */
p {margin:0 0 1.52em;}
	p img.left {float:left;margin:1.52em 1.52em 1.52em 0;padding:0;}
	p img.right {float:right;margin:1.52em 0 1.52em 1.52em;}

/* ** ** forms ** ** */
form fieldset {-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius:5px; padding-top:5px; padding-left:5px; border:1px solid #ccc; }
form fieldset legend {font-size:1.4em; padding:0 5px;}
form input[type=text], form input[type=password], form input[type=email], form input[type=url] {-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius:4px; height:20px; margin-bottom:5px; border:1px solid #ccc; padding:4px 0 1px 5px;}
form label {display:block; height:20px; font-size:1.2em;}

form textarea {-moz-border-radius: 4px; -webkit-border-radius: 4px; height:20px; margin-bottom:5px; border:1px solid #ccc; padding:4px 0 1px 5px;}



strong   		{	font-weight:600;}
em, dfn  		{	font-style:italic;}
dfn 	 		{   font-weight:600;}
sup, sub 		{   line-height:0;}
abbr, acronym   {	border-bottom:1px dashed #ccc;}
address 		{	margin:0 0 1.5em;font-style:italic;}
del 			{	color:#666;}
pre, code, tt   {	font:1em 'andale mono', 'lucida console', monospace;line-height:1.5; display:block;}
code 			{	background-color:#d5d2d8; display:block; padding:0px 2px 4px 26px; background:#fff url(code.jpg) no-repeat left top; line-height:1.67em;}
pre 			{	margin:1.5em 0;white-space:pre;}