/*
16c 60px 10px gutter /v2
by ZoupPowered
*/

.wrap	{width: 960px; margin: 0 auto; overflow: hidden;}

.row	{margin: 0 -5px; width: auto; display: inline-block;}

.col_1, .width_1 	{	width:50px;	 }
.col_2, .width_2 	{	width:110px; }
.col_3, .width_3 	{	width:170px; }
.col_4, .width_4 	{	width:230px; }
.col_5, .width_5 	{	width:290px; }
.col_6, .width_6 	{	width:350px; }
.col_7, .width_7 	{	width:410px; }
.col_8, .width_8 	{	width:470px; } /* recommend using a padding of 5px */
.col_9, .width_9 	{	width:530px; }
.col_10, .width_10 	{	width:590px; }
.col_11, .width_11 	{	width:650px; }
.col_12, .width_12 	{	width:710px; }
.col_13, .width_13 	{	width:770px; }  /* recommend using a padding of 5px */
.col_14, .width_14 	{	width:830px; }
.col_15, .width_15 	{	width:890px; }
.col_16, .width_16 	{	width:950px; }


.col_1.col_2,.col_3,.col_4,.col_5,.col_6,.col_7,.col_8,.col_9,
.col_10,.col_11,.col_12,.col_13,.col_14,.col_15,.col_16 {
	margin-left:5px; 
	margin-right:5px;
	display: inline;
	overflow: hidden;
	float: left;
	position: relative;
	}