@charset "utf-8";






body{background:url(../img/bg_down.jpg) scroll center 182px no-repeat;}

h1.entry-title{margin: 0 0 20px;font-size: 2.7em;}

p.form-allowed-tags{display: none;}

p img{padding: 5px;}

a{text-decoration: none;}

small {font-size: 75%;}





/* Header
-------------------------------------------------------------------------------------------------*/
#header {margin-bottom: 15px}

#header .wrap {position: relative; height: 153px; overflow: visible;}

#user-nav{
	background-color: #333;
	height:29px;
	width: 100%;
}

#header #logo{
	float: left;
	margin: 15px 0;
	background:url("../img/logo-pv.jpg") no-repeat scroll 0 0 transparent;
	height:123px;
	text-align:center;
	text-indent:-9999px;
	width:290px;
}
#header #logo h1 a{height:120px; display: block; overflow: hidden; margin: 0;}

#header #fono{
	margin-top: 30px;
	width: auto;
	float: right;
	line-height: 1em;
	text-align: center;
	font-family: Georgia, Times, serif;
	letter-spacing: -0.05em;
}






/* Menu de Navegacion
-------------------------------------------------------------------------------------------------*/

div#menus{
	position: absolute;
	right: 0;
	bottom: 0;
}

ul#menu-superior{
	border-radius: 5px 5px 0 0; 
	-moz-border-radius: 5px 5px 0 0;  
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	float: right;
	clear: both;
	background-color: #666;
}
	
ul#menu-superior li {float: left; margin: 0; position: relative;}

ul#menu-superior li a{
	color:#fff;
	display:block;
	letter-spacing: -0.03em;
	font-size:1.1em;
	font-weight:bold;
	padding:8px 15px;
	text-decoration:none;
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;  
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
}

ul#menu-superior li a:hover{
	background-color: #999 ;
	color: #fff;
	text-decoration: none;
	text-shadow:1px 1px 3px rgba(0, 0, 0, 0.8);
}
	
ul#menu-superior li.current_page_item a, 
ul#menu-superior li.current-menu-item a{
	background-color: #0099FF;
	color: #fff;
	text-decoration: none;
	text-shadow:1px 1px 3px rgba(0, 0, 0, 0.8);
}

ul#menu-superior li a span{padding: 10px;}



ul#menu-superior li ul.sub-menu{
    display:none;
	border-radius: 0 0 5px 5px; 
	-moz-border-radius: 0 0 5px 5px; 
	-khtml-border-radius: 0 0 5px 5px; 
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
    background: #333;
	border:0;
	width:150px;
	-moz-box-shadow: 0px 2px 4px rgba(100, 100, 100, 0.5);
	-khtml-box-shadow: 0px 2px 4px rgba(100, 100, 100, 0.5);
	-webkit-box-shadow: 0px 2px 4px rgba(100, 100, 100, 0.5);
	box-shadow: 0px 2px 4px rgba(100, 100, 100, 0.5);
	padding: 0 0 5px;
}

ul#menu-superior li ul.sub-menu li {
	float:none;
	display: block;
	overflow: hidden;
}
ul#menu-superior li ul.sub-menu li a{
	line-height:10px;
	font-size: 11px;
	padding: 8px 5px;
	border-radius: 0; 
	-moz-border-radius: 0; 
	-khtml-border-radius: 0; 
	-webkit-border-bottom-left-radius: 0;
}
ul#menu-superior li ul.sub-menu li a:hover{
	background-color: #555;}
ul#menu-superior li:hover ul.sub-menu, 
ul#menu-superior li ul.sub-menu:hover{
	display:block;
    position:absolute;
    top:34px;
    left:0;
    z-index:2;
}




/* Menu de Usuario
-------------------------------------------------------------------------------------------------*/

#user-nav ul#location-web{
	margin:0 auto;
	overflow:hidden;
	width:960px;
}
	#user-nav ul#location-web li{
		float: left;
		margin: 5px 0 0;
	}
	
	#user-nav ul#location-web li.contacto,
	#user-nav ul#location-web li.twitter,
	#user-nav ul#location-web li.facebook,
	#user-nav ul#location-web li.flickr,
	#user-nav ul#location-web li.youtube{
		float:right;
	}
	
	#user-nav ul#location-web li a{
		display: block;
		padding: 3px 9px;
		color: #fff;
		text-decoration: none;
	}	
	
	#user-nav ul#location-web li.contacto a,
	#user-nav ul#location-web li.twitter a,
	#user-nav ul#location-web li.facebook a,
	#user-nav ul#location-web li.flickr a,
	#user-nav ul#location-web li.youtube a
	{
		padding: 3px 9px 3px 25px;
	}
	
	#user-nav ul#location-web li.contacto a{
		background:url("../img/icons/letter.gif") no-repeat scroll 6px 4px transparent;
	}
	
	#user-nav ul#location-web li.facebook a{
		background:url("../img/16/facebook.png") no-repeat scroll 4px 4px transparent;
	}
	
	#user-nav ul#location-web li.twitter a{
		background:url("../img/16/twitter.png") no-repeat scroll 4px 4px transparent;
	}
	
	#user-nav ul#location-web li.flickr a{
		background:url("../img/16/flickr.png") no-repeat scroll 4px 4px transparent;
	}
	
	#user-nav ul#location-web li.youtube a{
		background:url("../img/16/youtube.png") no-repeat scroll 4px 4px transparent;
	}
	
	
	#user-nav ul#location-web li a:hover{
		background-color: #666;
	}
	
	#user-nav ul#location-web li a.active{
		color: #333;
		background-color: #fff;
	}








/* Sidebar
-------------------------------------------------------------------------------------------------*/
aside{}

aside .widget{
	margin: 0 0 15px;
	padding: 10px;
	background: #eee;
	border-radius: 8px;  
	-moz-border-radius: 8px;  
	-webkit-border-radius: 8px;
}

aside .widget h2{
	padding: 5px 0;
	border-bottom: 1px solid #ccc;
	display: block;
	margin: 0
}

aside .widget ul{
	padding: 5px 0;
}

aside .widget ul li{
	display: block;
	padding: 3px;
	width:100%;
	overflow: hidden;
}

aside .widget.widget_nav_menu{background: #666;color: #fff;}

aside .widget.widget_nav_menu h2{
	padding: 5px;
	background-color: #0099FF;
	border-radius: 5px;  
	-moz-border-radius: 5px;  
	-webkit-border-radius: 5px;
	border: 0;
	text-shadow:1px 1px 3px rgba(0, 0, 0, 0.8);
	-moz-text-shadow:1px 1px 3px rgba(0, 0, 0, 0.8);
	-webkit-text-shadow:1px 1px 3px rgba(0, 0, 0, 0.8);
	font-size: 11px;
}	

aside .widget.widget_nav_menu ul{
	margin: 0 5px;}

aside .widget.widget_nav_menu a{
	padding: 0 5px;
	border-left: 8px solid #999;
	color: #fff;
}

aside .widget.widget_nav_menu a:hover{
	border-left: 8px solid #ccc;
	text-decoration: none;
}



/** Widget Apost **/

.apost-content p{font-size: 0.9em;line-height: 1.2em;}

.widget_apost ul li{
	display: block;
	padding: 5px;
	width:100%;
	overflow: hidden;
}

.widget_apost ul li .apost-content .more{display: none;}

aside ul li .apost-img{
	display: block;
	width: 50px;
	height: 50px;
	margin: 0 5px 0 0;
	float: left;
}

.widget_apost ul li .apost-content h3{font-size: 1.1em; margin:0 0 3px 0;}

aside#home .widget_apost h2{
	display: block;
	background-color: #666;
	color: #fff;
	font-size: 1.4em;
	padding: 5px;
	margin: 0;
	text-shadow:1px 1px 1px rgba(0, 0, 0, 0.5);
}

aside#home .widget_apost ul li{ padding: 5px 0;}

aside#home .widget_apost ul li .apost-content .more{display: block;}

aside#home .apost-content p{display: none;}

aside#home .widget_apost ul li .apost-content .more a{
	padding: 2px 5px 1px;
	background-color: #0099ff;
	color: #fff;
	text-decoration: none;
	font-size: 0.9em;
}

.widget h2{font-size: 14px;}





/** Widget Event Calendar **/
ul.upcoming{}

ul.upcoming h2{
	background-color:#666666;
	color:#FFFFFF;
	display:block;
	font-size:1.4em;
	padding:5px;
	text-shadow:1px 1px 1px rgba(0, 0, 0, 0.5);
	margin: 0;
}

ul.upcoming h3 {
	font-size:1.1em;
	margin:0 0 3px;
}

ul.upcoming li{display: block; overflow: hidden; position: relative;}

ul.upcoming .when{
	display: block;
	padding: 2px 3px;
	font-size: 10px;
	background-color: #999;
	color: #fff;
	margin: 0 0 5px;
}

div.event,
div.loc,
div.more{
	float: right;
	clear: right;
	width: 175px;
}

a.more-link,
div.dig-in a{
	background-color:#0099FF;
	color:#FFFFFF;
	font-size:0.9em;
	padding:2px 5px 1px;
	text-decoration:none;
	width: auto;
}

a.more-link{position: absolute; top: 0; right: 0;}

div.dig-in{padding: 5px 0; text-align: right;}






/* Footer
-------------------------------------------------------------------------------------------------*/

#pre-footer{
	background-color:#f9f9f9;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	margin:20px 0 0;
	padding:10px 0 10px;
}

#footer{background-color: #eee;}


div#colaboradores{
	width: 570px;
	display: block;
	overflow: hidden;
	float: left;
}


div#colaboradores a.mas, #colaboradores a.mas:hover{
	background-color:#CCCCCC;
	color:#FFFFFF;
	font-size:10px;
	padding:2px 5px;
	text-align:center;
	text-decoration:none;
	width:45px;
}

div#colaboradores a.mas:hover{background-color: #0099ff;}

div#colaboradores ul{list-style: none;}

div#colaboradores ul li{
	padding: 5px 5px 0 0;
	float: left;
	line-height: 0;
}

div#colaboradores ul li img{
	border: 1px solid #eee;
	width: 50px;
	height: 50px;
}

div#colaboradores ul li a{
	margin: 0;
	padding: 0;
	border: 0;
	line-height: 0;
}

div#experiencias,
div#alianzas{
	width: 340px;
	display: block;
	overflow: hidden;
	padding-left: 15px;
	border-left: 1px solid #ccc;
	float: right;
	min-height: 140px;
}

div#experiencias img,
div#alianzas img{
	float: left;
	padding-right: 5px;
}

div#experiencias a,
div#alianzas a{
	float: right;
	color: #fff;
	padding: 3px 8px;
	display: inline-block;
	font-size: 11px;
	background-color: #666;
	border-radius: 10px;
	-moz-border-radius: 10px;  
	-webkit-border-top-left-radius: 10px;
}

div#experiencias a:hover,
div#alianzas a:hover{
	text-decoration: none;
	background-color: #0099ff;
}

.creditos{
	float: right;
	margin: 5px;
	font-size: 90%;
}

.creditos img{
	border: 0; 
	float:right;
	margin: 0 5px;
}
.creditos span{
	display:block;
	float:right;
	padding:8px 0;
}









/* Post, pages y otros
-------------------------------------------------------------------------------------------------*/

.navigation{
	display: block;
	clear: both;
	height: 30px;
}

.navigation a{
	color: #fff;
	padding: 3px 8px;
	display: block;
	font-size: 10px;
	background-color: #666;
	border-radius: 10px;
	-moz-border-radius: 10px;  
	-webkit-border-top-left-radius: 10px;
}

.navigation a:hover{
	background-color: #0099FF;
	text-decoration: none;}

.navigation .nav-previous{float: left;}
.navigation .nav-next{float: right;}



/** Listas de post **/

body.category .post,
body.author .post{
	border-top:1px solid #EEEEEE;
	display:block;
	height:165px;
	padding:10px 0;
}

body.category .post img,
body.author .post img{
	float: right;
	padding: 5px;
}

body.category .post h2, 
body.author .post h2{
	margin: 0 0 3px 0; 
	letter-spacing: -0.05em;
}

body.category .post a,
body.author .post a{
	text-decoration: underline;
	color: #0099ff;
}

body.category .post h2 a,
body.author .post h2 a{
	text-decoration: none;
}
	
body.category .post .entry-meta,
body.author .post .entry-meta{
	display: inline-block;
	padding: 0 6px;
	margin-bottom: 15px;
	font-size: 10px;
	border-left: 10px solid #eee;
}
body.category .post .entry-summary a{
	display: inline-block;
	padding: 1px 5px;
	background: #333;
	margin-bottom: 15px;
	font-size: 10px;
	color: #fff;
	text-decoration: 0;
	border-radius: 5px; 
	-moz-border-radius: 5px;  
	-webkit-border-radius: 5px;
}

body.category .post .entry-summary a:hover{
	text-decoration: none;
	background: #0099FF;
}



/** Pages **/

body.page .entry-content{font-size: 110%; line-height: 1.3em; margin-bottom: 80px;}



/** Single Post **/

body.single .hentry{padding: 30px 10px;}

body.single .entry-title{margin: 5px 0; letter-spacing: -0.05em;}

body.single .entry-meta{
	font-size: 10px;
	color: #666;
	margin: 0 0 20px;
	padding: 0 5px;
	border-left: 10px solid #eee;
}

body.single .entry-content{font-size: 110%;}
body.single .entry-content p{ line-height: 1.3em;}

body.single .entry-author-info{
	display: block;
	overflow: hidden;
	width: 100%;
}

body.single .entry-utility{
	display: block;
	width: 100%;
	clear: both;
	text-align: left;
	color: #ccc;
	font-size: 10px;
}


/** Single Post Comment **/

ol.commentlist{list-style: none;}

ol.commentlist li.comment{
	padding: 5px;
	margin: 0 0 10px;
	border: 1px solid #eee;
}
	
ol.commentlist li.comment .comment-author{font-size: 15px; height: 50px;}

ol.commentlist li.comment .comment-author cite,
ol.commentlist li.comment .comment-author span{
	padding: 18px 2px 3px;
	display: block; 
	float: left;
}
ol.commentlist li.comment .comment-author img{ float: left;}

ol.commentlist li.comment .comment-meta a{ font-size: 10px; color: #999;}

ol.commentlist li.comment .comment-body p{ font-size: 13px;}

ol.commentlist li.comment .reply a{
	color: #fff;
	padding: 3px 8px;
	display: block;
	font-size: 10px;
	background-color: #666;
	width: 80px;
	text-align: center;
}
ol.commentlist li.comment .reply a:hover{background-color: #0099FF; text-decoration: none;}

ol.commentlist li.comment ul.children{margin-top: 5px;}

ol.commentlist li.comment ul.children li{border-left: 5px solid #ccc;}



/** Single Post Respond-Comment **/

#respond{margin: 20px 0 0; padding: 5px; background: #DDF0F8;}

#respond span{display: none;}

#respond p{margin: 0 0 10px;}

#respond form{margin: 0 auto; width:590px;}

#respond form input{width: 300px; font-size: 18px; padding: 8px}

#respond form textarea{width: 585px; height: 100px;}

#respond form input[type=submit]{
	color: #fff;
	padding: 8px 0;
	display: block;
	font-size: 12px;
	background-color: #666;
	border: 0;
	border-radius: 5px; 
	-moz-border-radius: 5px;  
	-webkit-border-radius: 5px;
	-moz-box-shadow:1px 3px 5px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow:1px 3px 5px rgba(0, 0, 0, 0.3);
	text-shadow:0 1px 1px rgba(0, 0, 0, 0.25);
}




/* Experiencias / Alianzas
-------------------------------------------------------------------------------------------------*/


ul#experiencias,
ul#alianzas{
	width: 620px;
	display: block;
	overflow: hidden;
	margin: 10px 0 0;
}

ul#experiencias li,
ul#alianzas li{
	padding: 10px 0;
	border-top: 1px solid #eee;
	display: block;
	overflow: hidden;
}

ul#experiencias li img,
ul#alianzas li img{
	float: left;
	padding-right: 5px;
}


/* Colaboradores
-------------------------------------------------------------------------------------------------*/

ul#colaboradores{
	width: 640px;
	display: block;
	overflow: hidden;
	margin: 10px 0 0;
}

ul#colaboradores li{
	width: 100px;
	height: auto;
	line-height: 0;
	float: left;
	padding: 5px;
	margin: 5px;
	border: 1px solid #eee;
	display: block;
	overflow: hidden;
}

ul#colaboradores li img{
	float: left;
	padding-right: 5px;
}



/* Calendar Event
-------------------------------------------------------------------------------------------------*/

.category-events #tec-content.upcoming,
.category-events #tec-content.grid{
	background: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

.category-events #tec-content.upcoming .tec-events{
	padding: 5px 0;
}

.category-events #tec-content.upcoming .tec-events .tec-event{
	padding: 0;
	border-bottom: 1px solid #ccc;
}


#calendar h4.event-day{
	background: #eee;
	padding: 5px;
}

#calendar .entry-title{
	font-size: 25px;
	letter-spacing: -0.05em;}

#tec-content span.back {
	display: block;
	width: 170px;
	margin: -30px 0 30px;
}



#tec-content span.back a,
.tec-nav-previous a,
.tec-nav-next a{
	color: #fff;
	padding: 3px 8px;
	display: block;
	font-size: 10px;
	background-color: #666;
	border-radius: 10px;
	-moz-border-radius: 10px;  
	-webkit-border-top-left-radius: 10px;
	width: 170px;
}

.tec-nav-previous{ float: left; }

.tec-nav-next{float: right;}

#tec-content span.back a:hover{
	background-color: #0099FF;
	text-decoration: none;}

#calendar select.tec-events-dropdown{margin: 0 3px;}







/* Home 
-------------------------------------------------------------------------------------------------*/

#importante{
	margin:40px auto;
	overflow:hidden;
	width:960px;
}

#importante div#ingreso-app{
	-moz-box-shadow:1px 3px 10px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow:1px 3px 10px rgba(0, 0, 0, 0.3);
	text-shadow:0 1px 1px rgba(0, 0, 0, 0.25);
	border-radius: 8px;  
	-moz-border-radius: 8px;  
	-webkit-border-radius: 8px;
	background-color: #0099ff;
	padding: 17px 25px;
	margin: 15px;
	font-size: 1.8em;
	letter-spacing: -0.05em;
	font-weight: bold;
	text-align: center;	
	width: auto;
}

#importante blockquote{
	margin-left: 130px;
	width: 450px;
	text-align: right;}

#importante div#ingreso-app a{
	color: #fff;
	text-decoration: none;}


#home .news{
	display: block;
	overflow: hidden;
	width: 100%;
	clear: both;
}

.tab_container .post-img{
	display: block;
	overflow: hidden;
	width: 100%;
	height: 200px;
	background-color: #333;
	margin: 0 0 5px 0;
}

.tab_container a.titulo{
	color:#FFFFFF;
	display:block;
	font-size:1.3em;
	font-weight:bold;
	line-height:1.3em;
	letter-spacing: -0.05em;
	outline:medium none;
	text-decoration:none;
	margin: 0 0 5px;
}

ul.tabs {
    margin: 0;
    padding: 0;
    float: left;
    list-style-type: none;
    width: 190px;
    display: inline;
}

ul.tabs li {
    background:url(../img/bg_tab.jpg) repeat-y scroll 155px 0 #0099FF;
	color:#FFFFFF;
	height:54px;
	line-height:20px;
	margin:0 0 5px;
	overflow:hidden;
	padding:8px 0 8px 8px;
	position:relative;
	width: 170px;
	float: right;
}

ul.tabs li a, .tab_container a{color: #fff;}

ul.tabs li a{ font-size: 11px;}

ul.tabs li a.vermas {
    font-size: 0.7em;
    float:right;
}

ul.tabs li a.titulo {
	color:#FFFFFF;
	display:block;
	font-size:1.2em;
	font-weight:bold;
	letter-spacing: -0.05em;
	line-height:1em;
	outline:medium none;
	text-decoration:none;
	text-shadow:1px 1px 1px rgba(0, 0, 0, 0.5);
	text-align: right;
	padding: 0 5px 0 0
}

ul.tabs li a:hover {
	color: #ccc;
}

html ul.tabs li.active, html ul.tabs li.active a:hover {
    background:none repeat scroll 0 0 #666;
    color: #fff;
}

html ul.tabs li.active{width: 180px;}

.tab_container {
	background:none repeat scroll 0 0 #666;
	color:#FFFFFF;
	float:left;
	height:295px;
	overflow:hidden;
	width:515px;
}
.tab_content {
    padding: 18px;
}




/** widget del container **/

section#socialNetwork{
	width: 720px;
	margin: 10px 0 0 -15px;
	display: block;
	overflow: hidden;
}

section#socialNetwork .widget{
	margin: 0 0 0 15px;
	width: 330px;
	float: left;
	display: block;
	overflow: hidden;
	padding: 7px;
	background-color: #f9f9f9;
}

section#socialNetwork .widget h2{padding-left: 20px;}

section#socialNetwork .widget.flickrpress{
	background:url("../img/16/flickr.png") no-repeat scroll 6px 6px #f9f9f9;
}

section#socialNetwork .widget.widget_Twidget{
	background:url("../img/16/twitter.png") no-repeat scroll 6px 6px #f9f9f9;
}

section#socialNetwork .widget{}

	.flickrpress-container .flickrpress-items .flickr_item{margin: 0; padding: 1px;}

	ul#twitter_update_list li{padding: 5px 0; border-top: 1px solid #ccc;}



/* Banerizer
-------------------------------------------------------------------------------------------------*/


.wp_bannerize h2{display: none;}

.wp_bannerize ul{width: 100%;}
.wp_bannerize ul li{width: 100%;}

.wp_bannerize img{
	width: 100%;
	height: auto;}



/* Documents Pages
-------------------------------------------------------------------------------------------------*/

ul.docgroups, ul.docs{
	display: block;
	overflow: hidden;
	padding: 10px 0;
	margin: 10px 0;
	list-style: none;
}

ul.docgroups p, ul.docs p{margin: 0;}

ul.docs{
	padding: 10px;
	margin: 10px;
	border: 1px solid #ccc;
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-khtml-border-radius: 5px; 
	-webkit-border-radius: 5px;
}

ul.docgroups li{
	border: 1px solid #ccc;
	padding: 10px;
	margin: 0 0 10px;
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-khtml-border-radius: 5px; 
	-webkit-border-radius: 5px;
}

ul.docs li{
	display: block;
	overflow: hidden;
	padding: 0 0 5px;
	border-bottom: 1px solid #ccc;
	margin: 0 0 5px;
}

ul.docs li img{float: left; padding: 0 10px 0 0;}





form#cformsform{
	margin: 0 10px;
	display: block;
	overflow: hidden;
	position: relative;
}

form#cformsform ol{
	list-style: none;}

form#cformsform ol li{
	width: 320px;
	float: left;
	clear: left;
	position: relative;
}

form#cformsform ol li span.reqtxt,
form#cformsform ol li span.emailreqtxt{
	position: absolute;
	top: 17px;
	right: 0;
	font-size: 10px;
}

form#cformsform ol li#li--4{
	position: absolute;
	right: 10px;
	top: 0;}

form#cformsform label{
	font-size: 12px;
	padding: 15px 0 0;	
}

form#cformsform input[type=text],
form#cformsform textarea{
	width: 100%;
}

form#cformsform textarea{
	height: 155px;
}


form#cformsform fieldset{
	border: 0;
	width: 100%;
	display: block;
	overflow: hidden;
	clear: both;
}


form#cformsform input[type=submit]{
	color: #fff;
	padding: 8px 0;
	display: block;
	font-size: 12px;
	background-color: #666;
	border-radius: 5x;
	border: 0;
	margin: 5px;
	padding: 8px 50px;
	-moz-border-radius: 5px;  
	-webkit-border-radius: 5px;
	-moz-box-shadow:1px 2px 3px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow:1px 2px 3px rgba(0, 0, 0, 0.2);
	float: right;
}

p.linklove{display: none;}